{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {%  for message in app.flashes('info') %}
        <div class="alert alert-success"> {{ message }} </div>
    {% endfor %}
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-arrow-down-circle-fill"></i></div>
            <h1 class="fw-bolder">Inscription</h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-md-4 col-sm-8">
                {{ form_start(registrationForm) }}
                <div class="form-floating mb-3">
                    {{ form_row(registrationForm.username) }}
                </div>
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                {{ form_row(registrationForm.avatar) }}
                <div class="text-center">{{ form_row(registrationForm.submit) }}</div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
