{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 mb-5">Utilisateurs de SnowTricks : </h1>
        <div class="d-flex w-100 justify-content-center flex-column align-items-center">
            {% for user in users|filter(user => 'ROLE_ADMIN' not in user.roles) %}
                <div class="user-card mb-3 p-3">

                    {# User avatar & name #}
                    <div class="user">
                        <img src="{{ avatar }}{{ user.getAvatar }}" class="rounded-circle" alt="Avatar de l'utilisateur">
                        <span class="fw-bold">{{ user.username }}</span>
                    </div>
                    {# User comments, within collapsed div #}
                    {% set commentsExists = user.comments|length > 0 %}
                    {% if commentsExists %}
                        <div class="comments-button mt-2">
                            <button class="btn btn-primary w-100" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseComments{{ loop.index }}"
                                    aria-expanded="false" aria-controls="collapseComments{{ loop.index }}">
                                Voir les commentaires
                            </button>
                        </div>

                        <div class="comments collapse mt-2" id="collapseComments{{ loop.index }}">
                            {% for comment in user.comments %}
                                <div class="row card mb-3">
                                    <div class="card-header">
                                        Posté sur <h4 class="com-trick-title fw-bold">{{ comment.trick.name }}</h4>
                                        <span class="com-trick-date">le : {{ comment.createdAt|date("d/m/Y") }}</span>
                                    </div>
                                    <p class="card-body">{{ comment.content }}</p>
                                </div>
                            {% endfor %}
                        </div>

                    {% else %}

                        <div class="col">
                            <button type="button" class="btn btn-secondary" disabled>Aucun commentaire</button>
                        </div>

                    {% endif %}

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
