{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 mb-5">Utilisateurs de SnowTricks </h1>
        <div class="d-flex row">
            {% for user in users|filter(user => 'ROLE_ADMIN' not in user.roles) %}
                {% set comments = user_comments(user) %}
                <div class="card-folow my-4">
                    <div class="image">
                        <img src="{{ user.avatar is empty ? avatar ~ "default.png" : avatar ~ user.avatar }}"
                             class="img-users rounded-circle" alt="Avatar de l'utilisateur">
                    </div>
                    <div class="card-info">
                        <span>{{ user.username }}</span>
                        {% if user.isVerified == true %}
                            <div class="badge bg-success bg-gradient rounded-pill mb-2"><i
                                        class="bi bi-check-circle-fill"></i> Compte vérifier
                            </div>
                        {% else %}
                            <div class="badge bg-warning bg-gradient rounded-pill mb-2"><i
                                        class="bi bi-exclamation-triangle"></i> Compte non vérifier
                            </div>
                        {% endif %}
                        {% if user.isBlocked == true %}
                            <div class="badge bg-danger bg-gradient rounded-pill mb-2"><i class="bi bi-x-octagon"></i>
                                Compte bloqué
                            </div>
                        {% endif %}
                    </div>
                    <div>
                        {% if user.isBlocked == false %}
                            <a href="{{ path('app_block_user',{'id': user.id}) }}"
                               onclick="return confirmationBlock(event)"
                               class="button">Bloquer</a>
                        {% else %}
                            <a href="{{ path('app_unblock_user',{'id': user.id}) }}"
                               onclick="return confirmationDeBlock(event)"
                               class="button">Debloquer</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function confirmationBlock(ev) {
            ev.preventDefault();
            let urlToRedirect = ev.currentTarget.getAttribute('href'); //use currentTarget because the click may be on the nested i tag and not a tag causing the href to be empty
            console.log(urlToRedirect);
            swal({
                title: "Attention !!",
                text: 'Vous voulez vraiment blocker ce utilisateur ?',
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Poof! Your imaginary file has been deleted!", {
                            icon: "success",
                        });
                        window.location = urlToRedirect;
                    } else {
                        swal("Your imaginary file is safe!");
                    }
                });
        }

        function confirmationDeBlock(ev) {
            ev.preventDefault();
            let urlToRedirect = ev.currentTarget.getAttribute('href'); //use currentTarget because the click may be on the nested i tag and not a tag causing the href to be empty
            console.log(urlToRedirect);
            swal({
                title: "Attention !!",
                text: 'Vous voulez vraiment débloquer cet utilisateur ?',
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Poof! Your imaginary file has been deleted!", {
                            icon: "success",
                        });
                        window.location = urlToRedirect;
                    } else {
                        swal("Your imaginary file is safe!");
                    }
                });
        }
    </script>
{% endblock %}


