{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 mb-5">Utilisateurs de SnowTricks : </h1>
        <div class="d-flex w-100 justify-content-center flex-column align-items-center">
            {% for user in users|filter(user => 'ROLE_ADMIN' not in user.roles) %}
                <div class="user-card mb-3 p-3">
                    <div class="user">
                        {% if user.isVerified == true %}
                            <div class="badge bg-success bg-gradient rounded-pill mb-2"><i class="bi bi-check-circle-fill"></i> Compte Activer</div>
                        {% else %}
                            <div class="badge bg-warning bg-gradient rounded-pill mb-2"><i class="bi bi-exclamation-triangle"></i> Compte non activer</div>
                        {% endif %}
                        <img src="{{ user.avatar is empty ? avatar ~ "avatar.png" : avatar ~ user.avatar }}"
                             class="img-users rounded-circle" alt="Avatar de l'utilisateur">
                        <span class="fw-bold">{{ user.username }}</span>
                    </div>
                    {# User comments, within collapsed div #}
                    {% if user.comments|length > 0 %}
                        <div class="comments-button mt-2">
                            <button class="btn btn-primary w-100" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseComments{{ loop.index }}"
                                    aria-expanded="false" aria-controls="collapseComments{{ loop.index }}">
                                Voir les commentaires
                            </button>
                        </div>
                        <div class="comments collapse mt-2" id="collapseComments{{ loop.index }}">
                            {% for comment in user.comments %}
                                <div class="mb-5">
                                    <div class="card h-50 shadow border-0">
                                        <img class="card-img-bottom card-tricks"
                                             alt="..."
                                             src="{{ comment.trick.images is empty  ? imagesUrl ~ "default.png" : imagesUrl ~ comment.trick.slug ~ "/" ~ comment.trick.images|first.fileName }}"
                                        />
                                        <div class="card-body p-4">
                                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Groupe: {{ comment.trick.category.name }}</div>
                                            <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Posté sur : {{ comment.trick.name }}</h5></a>
                                            <p class="card-text mb-0">{{ comment.content }}</p>
                                        </div>
                                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                            <div class="d-flex align-items-end justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <div class="small">
                                                        <div class="text-muted">le : {{ comment.createdAt|date("d/m/Y") }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="comments  mt-2 col">
                            <button type="button" class="btn btn-secondary w-100" disabled>Aucun commentaire</button>

                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
