<!DOCTYPE html>
<html lang="fr">

    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
    <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href=""><img src="{{ asset('assets/img/snowflake.png') }}" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_home') }}">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_trick_new') }}">Nouveau Trick</a></li>
                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">{{ 'Bienvenue : ' ~ app.user.username }}</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">

                                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                                    </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Se connecter</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Créer un compte</a></li>
                    {% endif %}

                </ul>
            </div>

        </div>
    </nav>



    {% block javascripts %}
        <script src="{{ asset('js/scripts.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jarallax@2/dist/jarallax.min.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.4"></script>
        <!-- Optional video extension -->
        <script src="https://cdn.jsdelivr.net/npm/jarallax@2/dist/jarallax-video.min.js"></script>
        <!-- Core theme JS-->
        <script src="../../public/js/scripts.js"></script>
    {% endblock %}


{% block body %}
{% endblock %}
</body>
</html>
