{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
    {% set defaultImage = trick.images is empty %}
    <section class="py-5 position-relative">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-3">
                    <div class="d-flex align-items-center mt-lg-5 mb-4">
                        <img class="img-fluid rounded-circle" src="{{ asset('../assets/img/profile.png') }}"
                             alt="..."/>
                        <div class="ms-3">
                            <div class="fw-bold">Valerie Luna</div>
                            <div class="text-muted">News, Business</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <article>
                        <header class="mb-4">
                            <h1 class="fw-bolder mb-1">{{ trick.name }}</h1>
                            <div class="text-muted fst-italic mb-2">
                                Créé le: {{ trick.createdAt|date('d/m/Y H:i') }} </div>
                            {% if trick.updatedAt %}
                                <div class="text-muted fst-italic mb-2">Modifié
                                    le {{ trick.updatedAt|date('d/m/Y H:i') }} </div>
                            {% endif %}
                            <a class="badge bg-info text-decoration-none link-light">Groupe: {{ trick.category.name }} </a>

                        </header>
                        <figure class="mb-4"><img class="img-fluid rounded"
                                    {#                                                                                      src="{{ asset('uploads/tricks') }}/{{ trick.images|first.filename }}" #}
                                                  src="{{ defaultImage ? imagesUrl ~ "default.png" : imagesUrl ~ trick.slug ~ "/" ~ trick.images|first.fileName }}"
                                                  alt="..."/></figure>
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{ trick.description }}.</p>
                        </section>
                    </article>

                    <!-- Comments section-->
                    <section>
                        {% if app.user.username is defined %}
                            <div class="card bg-light">
                                <div class="card-body">
                                    <!-- Comment form-->
                                    {{ form_start(form) }}

                                    {% for message in app.flashes('success') %}
                                        <div class="alert alert-success"> {{ message }} </div>
                                    {% endfor %}

                                    {{ form_end(form) }}
                                </div>
                            </div>
                        {% endif %}
                    </section>
                    <section>
                        <div id="trick-comment-index" class="mt-4 card bg-light">
                            {% include 'trick/_comments.html.twig' %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
